api_base_url = "https://demo.photocollect.io/apiv1"
web_base_url = "https://demo.photocollect.io"
supported_site_codes[] = "api-demo"
supported_site_codes[] = "api-demo-signature"
api_key = ""
deeplink_secret = ""
